<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles/styles.css" />
    <title>Details Page</title>
</head>

<body>
    <div id="wrapper">
        <header>
            <!-- Navigation -->
            <nav>
                <div>
                    <a href="#">Home</a>
                    <a href="#">Dashboard</a>
                    <a href="#">Report</a>
                </div>

                <!-- Logged-in users -->
                <div class="user">
                    <a href="#">Add Property</a>
                    <a href="#">Logout</a>
                </div>

                <!-- Guest users -->
                <div class="guest">
                    <a href="#">Login</a>
                    <a href="#">Register</a>
                </div>
            </nav>
        </header>

        <main class="details">
            <!-- Details page -->
            <section id="details">
                <div id="details-wrapper">
                    <p id="details-title">House</p>
                    <div id="img-wrapper">
                        <img src="./static/images/house.jpg" alt="Photo of the house in Bistritsa" />
                    </div>
                    <div id="info-wrapper">
                        <table>

                            <tr>
                                <td>
                                    <p>
                                        Contact: <a id="details-contact">0987654321</a>
                                    </p>
                                </td>
                                <td>
                                    <p>Location: <span id="details-location">Sofia</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Area: <span id="details-area">499 sq.m</span></p>
                                </td>
                                <td>
                                    <p>Price: <span id="details-price">395000 EUR</span></p>
                                </td>
                            </tr>
                        </table>
                        <p>Description:
                            <span id="details-description">
                                We present a beautiful, newly built house in the picturesque Bistritsa village, just 20
                                minutes from Sofia. The property offers a spacious living room with French windows, two
                                cozy bedrooms, two bathrooms, and a mountain-view veranda. Located on a quiet street, it
                                offers the perfect blend of modern comfort and fresh air. An ideal choice for families.
                            </span>
                        </p>
                    </div>

                    <div id="action-buttons">
                        <a href="/edit/house_id_123" id="edit-btn">Edit</a>
                        <a href="/delete/house_id_123" id="delete-btn">Delete</a> -->
                        <a href="#" id="like-btn">Like</a>
                       <p id="already-liked">You already liked this property!</p>
                    </div>
                </div>
            </section>
        </main>


        <footer>SoftUni JS Back-End Exam 2025 &copy;</footer>
    </div>
</body>

</html>